body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.register-page {
  background:
    linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),
    url("images/register-bg.jpg") center / cover no-repeat;
}

.login-page {
  background:
    linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),
    url("images/login-bg.jpg") center / cover no-repeat;
}

.home-page {
  background:
    linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),
    url("images/home-bg.jpg") center / cover no-repeat;
}


.container {
  width: 300px;
  margin: 100px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background: #2d6cdf;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
